.ImageSection{
  float: left;
 
}
.FeaturesItem{
    position: absolute;
    top: 330px;
    transform: translate(-50px, -50px);
    left: 200px;
    font-size: 36px;
    font-family:cursive;
    display: '';

}

.FeaturesItem2{
    position: absolute;
    top: 275px;
    left: 250px;
    transform: translate(-50px, -50px);
    font-size: 35px;
    display: none;
}
.FeaturesItem2 > img{
      margin: 0px 0px 20px -20px;
      animation: heart 0.5s linear infinite;
}
.FeaturesItem2 > p {
      
}



/* .heart{
 		animation: 'heart 0.5s linear infinite';
} */

@keyframes heart {
    0% {
        transform: scale(1,1);
    }
   
    50% {
        transform: scale(0.9,0.9);
    }
    100%{
    	transform: scale(0.8, 0.8)
    }
}

.MainProductImage{
  height: 450px;
  position: relative;    
  width: 450px;
  

}
.buybtn2{
  margin-top: 75px;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
  padding: 15px 23px;
  border-radius: 6px;
  font-size: 22px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 1.5;
  position: relative;
  left: -295px;
  cursor: pointer;
}


@media only screen and (max-width: 570px) {

 .ImageSection{
          margin-left: -40px;
    }

    .buybtn2{
    margin-bottom: 30px;
    margin-top: 0px;
    left: 160px;


  }
}